<div ng-controller="AdminController as model">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Admin</h1>
        <h2>Users</h2>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="adminTable">
                <thead>
                <tr>
                    <th><span>User Name</span></th>
                    <th><span>Password</span></th>
                    <th><span>FirstName</span></th>
                    <th><span>LastName</span></th>
                    <th><span>Roles</span></th>
                    <th><span>Actions</span></th>
                    <th><span>&nbsp;</span></th>
                </tr>

                <tr>
                    <td><input ng-model="model.selected.userName" type="text" id="userName" placeholder="username"></td>
                    <td><input ng-model="model.selected.password" type="password" id="inputPassword" placeholder="password"></td>
                    <td><input ng-model="model.selected.firstName" type="text" id="firstName" placeholder="firstname"></td>
                    <td><input ng-model="model.selected.lastName" type="text" id="lastName" placeholder="lastname"></td>
                    <td><input ng-model="model.selected.roles" type="text" id="role" placeholder="role1, role2"></td>
                    <td><button ng-click="model.update(model.selected)" class="btn btn-primary">&check;</button></td>
                    <td><button ng-click="model.add(model.selected)" class="btn btn-success">&plus;</button></td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in model.users">
                    <td class="lalign">{{user.userName}}</td>
                    <td></td>
                    <td class="lalign">{{user.firstName}}</td>
                    <td class="lalign">{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td><button ng-click="model.select($index)" class="btn btn-success">...</button></td>
                    <td><button ng-click="model.remove($index)" class="btn btn-danger">X</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
