<div ng-controller="TechController as model">
    <br>
    <br>
    <div ng-repeat="entry in data.response.results" class="text-center">
        <div class="container">
            <div ng-if="$even">
                <div class="col col-md-6">
                    <img class="Image" ng-src="{{entry.fields.thumbnail}}"/>
                </div>
                <div class="col col-md-6">
                    <h4 class="techLine">
                        <a class="techColor" href="#/details/{{entry.id}}">{{entry.fields.headline}}</a>
                    </h4>
                    <p class="techText"">
                    {{entry.fields.trailText}}
                    </p>
                </div>
            </div>
            <div ng-if="$odd">
                <div class="col col-md-6">
                    <h4 class="techLine">
                        <a class="techColor" href="#/details/{{entry.id}}">{{entry.fields.headline}}</a>
                    </h4>
                    <p class="techText">
                        {{entry.fields.trailText}}
                    </p>
                </div>
                <div class="col col-md-6">
                    <img class="Image" ng-src="{{entry.fields.thumbnail}}"/>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>