#gender{
    height:25px;
}

#addNewField{
    height:25px;
}

#glyphi{
    font-size: 20px;
    padding: 5px;
    aria-hidden:"true";
    color: #ec971f;
}

.ui-sortable-helper {
    cursor: move;
}


#fmGrpClass{
   float: right;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#eea236;
    background-color:black;
}

#data{
    color: black;
}



#adminTable {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}


#adminTable thead {
    cursor: pointer;
    background: #c9dff0;
}
#adminTable thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}
#adminTable thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#adminTable thead tr th.headerSortUp, #adminTable thead tr th.headerSortDown {
    background: #acc8dd;
}

#adminTable thead tr th.headerSortUp span {
    background-image: url('up-arrow.png');
}
#adminTable thead tr th.headerSortDown span {
    background-image: url('down-arrow.png');
}

#adminTable tbody tr {
    color: #555;
}
#adminTable tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
#adminTable tbody tr td.lalign {
    text-align: left;
}