#gender{
    height:25px;
}

#addNewField{
    height:25px;
}

#glyphi{
    font-size: 20px;
    padding: 5px;
    aria-hidden:"true";
    color: #ec971f;
}

#fmGrpClass{
   float: right;
}

.jga-movie-panel {
    float: left;
    width: 150px;
    margin-right: 15px;
}

.jga-movie-panel .panel-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#eea236;
    background-color:black;
}

#data{
    color: black;
}

a.newsTitle{
    color: #c7254e;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    margin :0 auto;
    width: 800px;
    font-size: 20px;
}


p.trail{
    font-style: italic;
    color: black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


h4.headLine{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #0b58a2;
    align-content: center;
}

h4.filmLine{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    align-content: center;

}

a.filmColor{
    color: #1b6d85;
}
a.headColor{
    color: tomato;
}

a.sportColor{
    color: black;
}

div.my-col{
    position:relative;
}

div.thumbnail{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    list-style: none;
}

img.full-width{
    width: 100%;
}

p.travelText{
    color: #734d99;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

p.filmText{
    font-style: italic;
    color: #052f57;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

h4.techLine{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-style: italic;
}

a.techColor{
    color: #0b93d5;
}

p.techText{
    color: #994d53;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


