<div ng-controller="TravelController">
    <br>
    <div ng-repeat="entry in data.response.results" class="text-center">
        <div class="my-col-50">
            <div>
                <h4 class="headLine">
                    <a class="headColor" href="#/details/{{entry.id}}">{{entry.fields.headline}}</a>
                </h4>
                <img class="Image" ng-src="{{entry.fields.thumbnail}}"/>
                <p class="travelText">
                    {{entry.fields.trailText}}
                </p>
            </div>
            </div>
        </div>
    </div>
