<div ng-controller="FieldsController as model">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms : Registration Form</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ul class="nav nav-tabs">
            <li><a href="#/forms">Forms</a></li>
            <li class="active"><a href="#/fields">Fields</a></li>
        </ul>
        <div class="form-group">
            <div ng-model="model.fields">
                <div ng-repeat="field in model.fields">
                    <div ng-switch on="field.type">
                        <div>{{field.type}}</div>
                        <br>
                        <div ng-switch-default>
                        <label for="input5">Add New Field:</label>
                            <br>
                            <div class="form-group col-sm-9">
                            <select ng-model="model.fieldType" class="form-control" id="input5">
                                <option>Single Line Text Field</option>
                                <option>Date Field</option>
                                <option>Dropdown Field</option>
                                <option>Checkboxes Field</option>
                                <option>Radio Buttons Field</option>
                                <option>Multi Line Text Field</option>
                            </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <button ng-click="model.addField(model.fieldType)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    <div ng-switch-when="TEXT">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                            <div class="input-group-btn" ng-include="'views/forms/field-popup.html'"></div>
                        </div>
                    </div>
                    <div ng-switch-when="OPTIONS">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <select class="form-control">
                                <option ng-repeat="op in field.options">{{op.label}}</option>
                            </select>
                            <div class="input-group-btn" ng-include="'views/forms/field-popup.html'"></div>
                        </div>
                    </div>
                    <div ng-switch-when="TEXTAREA">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
                            <div class="input-group-btn" ng-include="'views/forms/field-popup.html'"></div>
                        </div>
                    </div>
                    <div ng-switch-when="CHECKBOXES">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <div class="checkbox">
                                <div ng-repeat="op in field.options">
                                    <label>
                                        <input type="checkbox" value="{{op.value}}">{{op.label}}
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="input-group-btn" ng-include="'views/forms/field-popup.html'"></div>
                        </div>
                    </div>
                    <div ng-switch-when="RADIOS">
                        <label>{{field.label}}</label>
                        <div class="input-group">
                            <div ng-repeat="op in field.options" class="radio">
                                <label>
                                    <input type="radio" name="{{op.label}}" value="{{op.value}}" checked>
                                    {{op.label}}
                                </label>
                            </div>
                            <div class="input-group-btn" ng-include="'views/forms/field-popup.html'"></div>
                        </div>
                    </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

