<div ng-controller="FieldController as model">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Forms : Registration Form</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ul class="nav nav-tabs">
            <li><a href="#/forms">Forms</a></li>
            <li class="active"><a href="#/field">Fields</a></li>
        </ul>
        <form>
            <form class="form-group">
                </br>
                <label for="firstName">First Name:</label>
                <div class="form-group">
                    <input type="text" class="col-sm-6 col-xs-6.5" id="firstName" placeholder="First Name">
                    <div class="form-group form-horizontal" align="right">
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                        </a>
                    </div>
                </div>
            </form>
            <form class="form-group">
                <label for="lastName">Last Name:</label>
                <div class="form-group">
                    <input type="text" class="col-sm-6 col-xs-6.5" id="lastName" placeholder="Last Name">
                    <div class="form-group form-horizontal" align="right">
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                        </a>
                    </div>
                </div>
            </form>

            <form class="form-group">
                <label for="dateOfBirth">Date Of Birth:</label>
                <div class="form-group">
                    <input type="date" class="col-xs-6.5 col-sm-6 col-md-6" id="dateOfBirth">
                    <div class="form-group form-horizontal" align="right">
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                        </a>
                    </div>
                </div>
            </form>

            <form class="form-group">
                <label for="gender">Gender:</label>
                <div class="form-group">
                    <select class="col-sm-6 col-xs-6.5 col-md-6" id="gender" placeholder="Male">
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                    <div class="form-group" align="right">
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                        </a>
                    </div>
                </div>
            </form>

            <form class="form-group">
                <label for="roles">Roles: </label>

                <form class="form-horizontal">
                    <div class="form-inline">
                        <div class="checkbox">
                            <label> <input type="checkbox" value="">
                                Admin
                            </label>
                        </div>
                        <div class="form-group form-horizontal" id="fmGrpClass">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                            </a>
                        </div>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled>
                            Student
                        </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">User</label>
                    </div>
                </form>

                <form class="form-group">
                    <label for="licenses">License Agreement: </label>
                    <div class="form-horizontal">
                        <div class="form-inline" id="fmGrpClass">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify" id="glyphi"></scan>
                            </a>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                No
                            </label>
                        </div>
                    </div>
                </form>

                <form class="form-group">
                    <label for="addNewField">Add New Field: </label>
                    <div class="form-group">
                        <div class="form-inline">
                            <select ng-repeat="field in model.fields" ng-model="model.fieldType" class="col-sm-6 col-xs-6.5 col-md-6" id="addNewField">
                                <!--option value="" selected>Single Line Text Field</option>
                                <option value="">Multi Line Text Field</option>
                                <option value="">Date Field</option>
                                <option value="">Dropdown Field</option>
                                <option value="">Checkboxes field</option>
                                <option value="">Radio Buttons field</option-->
                                <option value="">{{field}}</option>
                            </select>
                            <div class="form-group form-horizontal" id="fmGrpClass">
                                <a href="#">
                                    <button ng-click="model.addField(model.fieldType)" type="button" class="btn btn-default">
                                        <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>