<div ng-controller="EntertainmentController as model">
    <br>
    <br>
    <div ng-repeat="entry in data.response.results" class="text-center">
        <div class="container">
                <div ng-if="$even">
                <div class="col col-md-6">
                    <img class="Image" ng-src="{{entry.fields.thumbnail}}"/>
                </div>
                <div class="col col-md-6">
                    <h4 class="filmLine">
                        <a class="filmColor" href="#/details/{{entry.id}}">{{entry.fields.headline}}</a>
                    </h4>
                    <p class="filmText"">
                        {{entry.fields.trailText}}
                    </p>
                </div>
                </div>
                <div ng-if="$odd">
                    <div class="col col-md-6">
                        <h4 class="filmLine">
                            <a class="filmColor" href="#/details/{{entry.id}}">{{entry.fields.headline}}</a>
                        </h4>
                        <p class="filmText">
                            {{entry.fields.trailText}}
                        </p>
                    </div>
                    <div class="col col-md-6">
                        <img class="Image" ng-src="{{entry.fields.thumbnail}}"/>
                    </div>
                </div>
            </div>
        <br>
    </div>
</div>