<div ng-controller="HomeController">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome !</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus sem vel aliquam faucibus. Cras ante diam,
                volutpat vitae justo nec, condimentum aliquam ipsum. Suspendisse semper ante at magna cursus, sed faucibus augue malesuada.
                Praesent luctus nec ipsum eget convallis. Nullam semper et velit et suscipit. In placerat sollicitudin nibh,
                sed semper magna varius non. Maecenas interdum ligula nec ante euismod mollis. Sed rhoncus feugiat tellus, ut sagittis dolor
                convallis eget.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur iaculis laoreet volutpat. Cras velit quam, elementum in orci sit amet, elementum pretium massa.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vitae malesuada lectus.
                Integer quis ornare dolor, nec condimentum justo. Maecenas vel molestie leo, hendrerit vehicula eros.

                Phasellus pretium, libero sed egestas lobortis, dolor eros convallis magna, sit amet vestibulum elit ex id sapien.
                Sed in laoreet est. Quisque sollicitudin iaculis lobortis. Maecenas tincidunt, lacus eget consequat pharetra,
                libero ante pharetra dui, at convallis arcu urna sed metus. Maecenas molestie diam aliquet est placerat,
                sit amet vestibulum dui dictum. Ut quis feugiat nunc. Donec eu metus urna. Vivamus ut turpis consequat, rutrum justo vel,
                blandit odio. In posuere dolor id vestibulum viverra.
            </p>
        </div>
</div>