<div ng-controller="AdminController as model">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Admin</h1>
        <h2>Users</h2>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        <button type="button" class="btn dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span></button> User Name</th>
                    <th>
                        <button type="button" class="btn dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span></button> Password</th>
                    <th>
                        <button type="button" class="btn dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span></button>  Role</th>
                    <th>Action</th>
                </tr>

                <tr>
                    <th><input type="text" id="userName" placeholder="username"></th>
                    <th><input type="password" id="inputPassword" placeholder="password"></th>
                    <th><input type="text" id="role" placeholder="role1, role2"></th>
                    <th>
                        <a href="#">
                            <scan class="glyphicon glyphicon-ok" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-plus" id="glyphi"></scan>
                        </a>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Alice</td>
                    <td></td>
                    <td>student</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td></td>
                    <td>faculty | admin</td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td>Charlie</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#">
                            <scan class="glyphicon glyphicon-pencil" id="glyphi"></scan>
                        </a>
                        <a href="#">
                            <scan class="glyphicon glyphicon-remove" id="glyphi"></scan>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>