h1 {color: red;}
h2#introhtml {color: blue; background-color: yellow;}
.blueFg {
    color: violet;}

.yellowBg {
    background-color: yellow;
}

#secondParagraph {
    color:red;
    background-color: blue;
}