<div ng-controller="HomeController as model">
    <br>
    <div ng-repeat="entry in model.data.response.results" class="text-center">
        <div class="my-col">
            <div ng-if="$even" class="col-sm-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <img class="full-width img-responsive img-rounded" ng-src="{{entry.fields.thumbnail}}"/>
                    <div class="caption">
                        <h4 class="headLine">
                            <a href="#/details/{{entry.id}}" ng-bind-html="model.trustAsHtml(entry.fields.headline)">{{entry.fields.headline}}</a>
                        </h4>
                        <p clas="trail" ng-bind-html="model.trustAsHtml(entry.fields.trailText)">
                            {{entry.fields.trailText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-col">
            <div ng-if="$odd" class="col-sm-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <img class="full-width img-responsive img-rounded" ng-src="{{entry.fields.thumbnail}}"/>
                    <div class="caption">
                        <h4 class="headLine">
                            <a href="#/details/{{entry.id}}" ng-bind-html="model.trustAsHtml(entry.fields.headline)">{{entry.fields.headline}}</a>
                        </h4>
                        <p class="trail" ng-bind-html="model.trustAsHtml(entry.fields.trailText)">
                            {{entry.fields.trailText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
