<style>
    body {
        background-image: url("/project/client/views/header/background.jpg");
        align-content: center;
        height: auto;
        width: auto;
    }

</style>

<p ng-if="currentUser">
    Welcome {{currentUser.username}}
</p>

<div ng-controller="HomeController">

    <div ng-repeat="entry in data.response.results" class="text-center">
        <div class="row">
            <div class="col-lg-6">
                <div id="data">
                    <img src="{{entry.fields.thumbnail}}"/>
                    <h4><a href="{{entry.webUrl}}" target="_blank"> {{entry.fields.headline}}</a></h4>
                    {{entry.fields.trailText}}
                </div>
                </br>
            </div>
        </div>
    </div>
</div>