<h2>Search</h2>

<input ng-model="model.news.title" class="form-control"/>
<button ng-click="model.search(model.news)"
        class="btn btn-primary btn-block">
    Search
</button>

<div ng-controller="SearchController as model">
    <br>
        <h3>Search Results</h3>

        <div ng-repeat="entry in data.response.results" class="text-center">
        <div class="col-sm-6 col-xs-12 col-md-4 col-lg-4">
            <div ng-if="($index%3==0)" class="thumbnail" id="searchThumbnail">
                <img class="full-width img-responsive img-rounded" ng-src="{{entry.fields.thumbnail}}"/>
                <div class="caption">
                    <h4 class="headLine">
                        <a class="filmColor" href="#/details/{{entry.id}}" ng-bind-html="model.trustAsHtml(entry.webTitle)">{{entry.webTitle}}</a>
                    </h4>
                    <p class="trail" ng-bind-html="model.trustAsHtml(entry.fields.trailText)">
                        {{entry.fields.trailText}}
                    </p>
                </div>
            </div>
            <div ng-if="($index%3==2)" class="thumbnail">
                <img class="full-width img-responsive img-rounded" ng-src="{{entry.fields.thumbnail}}"/>
                <div class="caption">
                    <h4 class="headLine">
                        <a class="filmColor" href="#/details/{{entry.id}}" ng-bind-html="model.trustAsHtml(entry.webTitle)">{{entry.webTitle}}</a>
                    </h4>
                    <p class="trail" ng-bind-html="model.trustAsHtml(entry.fields.trailText)">
                        {{entry.fields.trailText}}
                    </p>
                </div>
            </div>
            <div ng-if="($index%3==1)" class="thumbnail">
                <img class="full-width img-responsive img-rounded" ng-src="{{entry.fields.thumbnail}}"/>
                <div class="caption">
                    <h4 class="headLine">
                        <a class="filmColor" href="#/details/{{entry.id}}" ng-bind-html="model.trustAsHtml(entry.webTitle)">{{entry.webTitle}}</a>
                    </h4>
                    <p class="trail" ng-bind-html="model.trustAsHtml(entry.fields.trailText)">
                        {{entry.fields.trailText}}
                    </p>
                </div>
            </div>
        </div>
    </div>

<div ng-if="data.response.results" class="pull-right">
    <ul class="pagination">
        <li class="{'disabled': currentPage == 1}"><a ng-click="model.prev(title, currentPage)">Prev</a></li>
        <li><a ng-click="model.next(title, currentPage)">Next</a></li>
    </ul>
</div>
</div>