<h2>Search</h2>

<input ng-model="model.news.title" class="form-control"/>
<button ng-click="model.search(model.news)"
        class="btn btn-primary btn-block">
    Search
</button>

<div ng-controller="SearchController as model">
    <br>
    <div>
        <h3>Search Results</h3>
        <table class="table table-striped">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in data.response.results" class="text-center">
                <td><img ng-src="{{entry.fields.thumbnail}}" width="200px" height="200px"/></td>
                <td> <h3><a class="newsTitle" href="#/details/{{entry.id}}">{{entry.webTitle}}</a></h3>
                    <p class="trail">{{entry.fields.trailText}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>